## SQL Interview question

**1.What is DBMS?**

- A DBMS is s/w that helps to store,organize and mange data.
- Data store-> Files ,Tables and hireachircal format.
- General tool to manage data.
- e.g -Microsoft Access,dBase.

**2.What is RDBMS?**

- A RDBMS is type of DBMS--To store data in tables(row and columns) and user relations(relationship) between them.
- use SQL (Structure Query Language) for queries.
- Support :Constraint --> primary key,foreign key,Unique for data integrity.
- RDMS :DBMS with tables and relationships.
- e.g -MySQL ,Oracle.

**3.What is database?**

- A database is organized collection of data that stored.So it can be easily access, manged and updated.

Features::
- 1.Store -> large amount of data.
- 2.Data can be retrieved quickly (search,filters) using queries.
- 3.support ->updating,deleting and inserting data.
- 4.Maintain -Consistency and security.
- 5.Can be used by multiple user at same time.

Types ::
- 1.RDBMS -Store in tables(MYSQL,Oracle,PostgreSQL.
- 2.NoSQL DB -Store in unstructured/semi-structure(MongoDB).
- 3.Cloud DB -Manged online.(AWS, Google cloud SQL).

**4.what is SQL?**

- SQL stands for Structure Query language.
- SQL is used to communicate to database to perform different kind of operation.
- We can send SQL commands using client s/w.

 two types client:
- 1.Graphical mode(GUI)
- 2.CLI(Command line interface)

e.g ::
Oracle DB ::
 - SQLDeveloper(GUI).
 - SQL Plus(CLI).

MYSQL DB ::
 - MYSQLWorkbech(GUI)
 - MYSQL CommandLinetool(CLI)

**5.What is client?**
- The client is program, tool or application that send request(SQL queries) to the DB.
- client not store the data --only communicates with server.

**6.what is server in SQL**
- The server is database system( like MYSQL server,PostgreSQL server,Oracle DB).
- It stores the data,process--Queries and returns results to the client.
- e.g ::
- Client -->send SQL Query-->select * from users
- Server -->recevies-->process-->fetch data from storage.
- Server -->send result back to client.

**SQL Language**

 1.DDL(Data Defination language)
 - CREATE ,ALTER,DROP,TRUNCATE,RENAME

 2.DML(Data Manipulation language)
 - INSERT,UPADTE,DELETE

3.DRL/DQL(Data Retrieval Language/Data Query Language)
  - SELECT
    
 4.TCL(Transaction Control Language)
  - COMMIT,ROLLBACK,SAVE POINT
    
 5.DCL(Data Control Language)
  - GRANT,REVOKE

**Create Database/Schema**

CREATE DATABASE <<DATABASE NAME>>;
 -creating database

DROP DATABASE <<DATABASE NAME>>;
 -deleting database

**CREATE/INSERT IN tables**

-Use database first
 USE <<DATABASE NAME>>;  //ONLY ONCE NEED TO USE THIS COMMANDS.
    
CREATE TABLE <<TABLE NAME>>
    (COLUMN 1 DATATYPE,COL2 DATATYPE);
-e.g :: CREATE TABLE STUDNET(SNO INT(10) ,SNAME VARCHAR(50),MARKS INT(30);   //CREATE STUDNENT TABLE

DESCIBE STUDENT; //SHOW ALL ROW AND COLUMN OF TABLE.

//APPROCH :1
INSERT INTO <<TABLE NAME>>
    VALUES (101,'ANNU',80);   //INSERT FIRST STUDENT IN TABLE.

//APPROCH :2
INSERT INTO <<TABLE NAME>>(SNO,SNAME,MARKS)
        VALUES (101,'ANNU',80);  

//APPROCH:3
INSERT INTO <<TABLE NAME>>
        VALUES (101,'ANNU',null);

**SELECT command in tables**

select and retrive data from table.

SELECT * FROM <<TABLE NAME>>;

-ALIAS 
    INSTEAD FULL NAME OF COLUMN NAME USE ALIAS.
-SELECT SNO NO,SNAME NME,MARKS MK FROM <<TABLE NAME>>;

**SQL NUMRIC DATA TYPES***
- TINYINT 
- SMALLINT
- MEDIUMINT
- INT
- BIGINT
- FLOAT
- DOUBLE(,)
- DECIMAL(,)

**SQL TEXT DATA TYPES***
- CHAR()
- VARCHAR()
- BLOB
- MEDIUMTEXT
- MEDIUMBLOB
- LONGTEXT
- LONGBLOB

**SQL DATE AND TIME***
- DATE -------- YYYY-MM-DD
- DATETIME -------- YYYY-MM-DD HH:MM:SS
- TIMESTAMP ---------- YYYYMMDDHHMMSS
- TIME ------------HH:MM:SS

**WHERE (Filteing records based on conditions )**